body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(50deg, rgb(59, 59, 59), rgb(39, 39, 39));
  }
  
  .calculator {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    width: 300px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(136, 136, 136);
  }
  